.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

